<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
</head>

<body>

    {{>navbar}}

    <!-- main-header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left side div -->
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="images/about.jpg" alt="error" class="img-fluid" title="anujYadav">

                        </figure>

                    </div>
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome To Weather App</p>
                        <h2>I Am A <span class="sclass">Nodejs Developer</span> And <span class="sclass">Java & DSA
                            </span> Is My expertise!</h2>
                        <a href="https://www.linkedin.com/in/anuj-yadav-b043a7202"><button>Myself</button></a>

                    </div>

                </div>
            </div>
        </div>
        {{footer}}



</body>

</html>